{% extends "template.html" %}
{% block content %}

<div class="container">
	<div class="row">
		<h1>Trip Advisor</h1>
	</div>
	<div class="row">
		<h2>
			<a href = "/ratings/read">See All</a>
		</h2>
	</div>
	<div class="row">

		<table class="table">
			<thead>
				<tr>
					<td><h3>Destination</h3></td>
					<td><h3>Country</h3></td>
					<td><h3>Rating</h3></td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				{% for entry in res %}
				<tr>
					<td>
						<a href = "/ratings/readOne/{{entry.destination}}">{{entry.destination}}</a>
					</td>
					<td>{{entry.country}}</td>
					<td>
						<form class="form-inline" role="form" name = "form" action = "/ratings/update/{{entry.destination}}" method = "POST" >{% csrf_token %}
							<input class="form-control" type = "text" name = "rating" value = "{{entry.rating}}" />
							<input class="btn btn-default" type = "submit" value = "Update" />
						</form>	
					</td>
					<td>
						<a href = "/ratings/delete/{{entry.destination}}">Delete</a>
					</td>
				</tr>
				{% endfor %}	
			</tbody>
		</table>

	</div>
	<div class="row">
	
		<form class="form-inline" role="form" name = "form" action = "/ratings/create" method = "POST" >{% csrf_token %}
			<input class="form-control" type = "text" name = "destination" />
			<input class="form-control" type = "text" name = "country" />
			<input class="form-control" type = "text" name = "rating" />
			<input class="btn btn-default" type = "submit" value = "Create" />
		</form>

	</div>	
</div>

{% endblock %}	